.u-section-1 .u-sheet-1 {
  min-height: 1864px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 47px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 10px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  text-decoration: underline !important;
  margin: 74px auto 0;
}

.u-section-1 .u-image-1 {
  width: 779px;
  height: 441px;
  margin: 25px auto 0;
}

.u-section-1 .u-text-4 {
  text-decoration: underline !important;
  margin: 112px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 11px 0 24px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: -25px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1831px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 408px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1729px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 306px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1616px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 193px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 964px;
}

.u-section-2 .u-text-1 {
  margin: 11px 0 39px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-weight: 400;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 735px;
}

.u-section-3 .u-text-1 {
  margin: 26px auto 36px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-weight: 400;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 4591px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  text-decoration: underline !important;
  margin: 36px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 12px auto 0;
}.u-section-5 .u-sheet-1 {
  min-height: 670px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  margin-bottom: 60px;
  margin-top: -3px;
}.u-section-6 .u-sheet-1 {
  min-height: 400px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  margin: 18px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 20px auto 60px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}.u-section-7 .u-sheet-1 {
  min-height: 1755px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  margin: 19px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 1104px;
  height: 315px;
  margin: -475px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1708px;
  }

  .u-section-7 .u-image-1 {
    width: 940px;
    height: 268px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1645px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 205px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1594px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 154px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1537px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 97px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 2914px;
}

.u-section-8 .u-text-1 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-8 .u-text-2 {
  font-weight: 400;
  margin: 21px 0 48px;
}