.u-section-1 .u-sheet-1 {
  min-height: 1226px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  text-decoration: underline !important;
  margin: 23px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 31px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 38px auto 0 253px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: -30px auto 0 72px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 36px 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 35px 90px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: 39px 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  margin: 31px 0 44px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-6 {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-left: 194px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 146px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -48px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -74px;
  }
}